.recipe {
  border-bottom: 1px solid black;
  padding-bottom: 40px;
  padding: 20px;
}
.recipe:last-child {
  border-bottom: none;
  padding-bottom: 10px;
}
.recipe__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.recipe__title {
  font-size: 1.75rem;
  margin: 0px;
}

.recipe__row {
  margin-top: 10px;
}
.recipe__label {
  font-weight: 600;
  margin-right: 5px;
}
.recipe__value {
  font-weight: 300;
}

.recipe__value--indented {
  margin-left: 20px;
  margin-top: 10px;
}
.recipe__instructions {
  white-space: pre-wrap;
}
